

<!DOCTYPE html>
<html>
  <head>
    <!-- Tab Title -->
     <title>No Limits! A Fitness App</title>
     <!-- Sign up -->
         <link rel="stylesheet" href="/assets/css/signup.css">
    <!-- Tab Image -->
    <link rel="icon" href="/assets/img/arm.png">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Styling -->
    <link rel="stylesheet" href="/assets/css/burger_style.css">
     <!-- CSS Animations -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu|Seymour+One" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>



</head>
  </head>
  <body>
  <!-- *** NAVBAR ***
        _________________________________________________________ -->

    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand scrollTo" href="#intro">NO LIMITS</a>
            </div>

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#intro">Home</a>
                    </li>
                    <li><a href="/signup">Workouts</a>
                    </li>
                    <li><a href="#">About Us</a>
                    </li>
                    <li><a href="#">Testimonials</a>
                    </li>
                    <li><a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->

        </div>
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->


    <div id="all">


        <!-- *** INTRO IMAGE ***
        _________________________________________________________ -->
        <div id="intro" class="clearfix">
            <div class="item">
                <div class="container">
                    <div class="row">

                        <h1 data-animate="fadeInDown">No Limits!</h1>
                        <p class="message" data-animate="fadeInUp"></p>

                    </div>
                </div>
            </div>
        </div>

        <!-- *** INTRO IMAGE END *** -->

  
    <!-- Page Container -->
    <div class="container">
      
      <br>

      <!-- Burger Image -->
       <center>
            <div class="animated infinite bounce row">
                <img src="/assets/img/arm.png">
            </div>
        </center>

      <!-- Page Title -->
       <center>
            <h1 class=" animated lightSpeedIn red_font_h1">No Limits</h1>
        </center>      

      <!-- Input New Burgers Form -->
      <form action="burger/create" method="POST"> 
        
        <!-- Text Area Input -->
        <div class="row">
          <!-- Empty Div to help center textarea -->
          <div class="col-md-3"></div> 

          <!-- Burger Input Box -->
          <div class="form-group col-md-6">
            <center><label for="new_burger" class="red_font">
            <br>
            A workout junkie's BFF.<br><br>
            <h4>To get started, enter your workout plan below.</h4>
            </label></center>
            <textarea class="form-control" columns="8" rows="4" id="new_burger" name="burger_name"></textarea>
          </div>

  

          <!-- Empty Div to help center textarea -->
          <div class="col-md-3"></div> 
        </div>
      
        <!-- Submit Button -->
        <center>
          <button id="submit-button" type="submit" class="btn btn-danger">Start Workout</button>
          <br><br>

        </center>

      </form>


      <!-- Burger Content from index.handlebars -->
      {{{body}}}



      <br><br>

      <br>

    </div>


    <!-- Link in jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- Link in Local JavaScript (for sound effects) -->
    <script src="/assets/javascript/burger_sounds.js"></script>

  </body>
</html>