body {
    background: url("/assets/img/gym.jpg");
    font-family: 'Baloo Tammudu', cursive;
}

img {
    width: 1%3;
}

.red_font {
    color: #bc001f;
}

.red_font_h1 {
    font-family: 'Seymour One', sans-serif;
    color: red;
    font-size: 120px;
    text-shadow: 4px 4px 2px rgba(255, 255, 255, 1);
}

.red_font {
    color: red;
    font-size: 30px;
}

.btn-info {
    color: red;
    background-color: black;
    border-color: red;
}

.btn-success {
    color: black;
    background-color: red;
    border-color: black;
}

.btn-danger {
    color: red;
    background-color: black;
    border-color: #d43f3a;
}

.red_font_plan {
    font-size: 40px;
    color: red;
}
